In [3]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from pycaret.regression import *

In [4]:
df = pd.read_csv("C:\\Users\\ripa_\\Desktop\\Programing\\IndyCar_Project\\datasets\\IndyCar_dataset_v11.csv")

In [5]:
df["EventDate"] = pd.to_datetime(df["EventDate"])
df = df.sort_values("EventDate")

In [6]:
print(df[["DriverID", "NormalizedPositionFinish", "DRFAvg"]].groupby("DriverID").head(3).head(30))

    DriverID  NormalizedPositionFinish  DRFAvg
0       3625                      0.76     NaN
25      3667                      0.24     NaN
24      3622                      0.00     NaN
23      3616                      0.16     NaN
22      4276                      0.20     NaN
21      4215                      0.40     NaN
20      3811                      0.84     NaN
19      3736                      0.72     NaN
17      3680                      0.28     NaN
16      3648                      0.96     NaN
15      3620                      0.68     NaN
14      3672                      0.60     NaN
13      4401                      0.88     NaN
18      4407                      0.64     NaN
11      4236                      1.00     NaN
12      4021                      0.80     NaN
2       3645                      0.08     NaN
3       3813                      0.92     NaN
4       4216                      0.12     NaN
5       3675                      0.56     NaN
1       3608                      0.52     NaN
7       3636                      0.48     NaN
8       3668                      0.44     NaN
9       4144                      0.32     NaN
10      3682                      0.36     NaN
6       3628                      0.04     NaN
41      3620                      0.84    0.68
42      3648                      0.80    0.96
43      3680                      0.68    0.28
44      4407                      0.28    0.64

In [7]:
df.head()

,DriverName,DriverID,Rookie,DRFAvg,DTAvg,DTTAvg,DNFRate,TDNFRate,DriverElo,DriverTElo,...,EventDate,EventDateFormatted,EventID,Era,EraID,Status,StatusID,FieldSize,PositionFinish,NormalizedPositionFinish
0,Mike Conway,3625,0,NaN,NaN,NaN,NaN,NaN,1500.0,1500.0,...,2012-03-25,"Sunday, March 25, 2012",2380,DW12 Era 2012-2017,0,DNF,1,26,20,0.76
25,Will Power,3667,0,NaN,NaN,NaN,NaN,NaN,1500.0,1500.0,...,2012-03-25,"Sunday, March 25, 2012",2380,DW12 Era 2012-2017,0,Running,0,26,7,0.24
24,Helio Castroneves,3622,0,NaN,NaN,NaN,NaN,NaN,1500.0,1500.0,...,2012-03-25,"Sunday, March 25, 2012",2380,DW12 Era 2012-2017,0,Running,0,26,1,0.00
23,Ryan Briscoe,3616,0,NaN,NaN,NaN,NaN,NaN,1500.0,1500.0,...,2012-03-25,"Sunday, March 25, 2012",2380,DW12 Era 2012-2017,0,Running,0,26,5,0.16
22,Simon Pagenaud,4276,0,NaN,NaN,NaN,NaN,NaN,1500.0,1500.0,...,2012-03-25,"Sunday, March 25, 2012",2380,DW12 Era 2012-2017,0,Running,0,26,6,0.20

In [8]:
drop_cols = [
    "DriverName", "PositionStart", "TeamName", "EventName", "Track", "EventTrackType",
    "EventDate", "EventDateFormatted", "EventID", "Era",
    "Status", "StatusID", "PositionFinish"
]

cutoff = df["EventDate"].quantile(0.95)
data = df[df["EventDate"] < cutoff].drop(columns=drop_cols)
data_unseen = df[df["EventDate"] >= cutoff].drop(columns=drop_cols)

print(data.corr(numeric_only=True)["NormalizedPositionFinish"].sort_values())

DriverElo                  -3.981294e-01
TeamElo                    -3.296387e-01
TeamTElo                   -2.501114e-01
DriverTElo                 -2.471319e-01
TeamID                     -1.376309e-01
Rookie                     -2.423952e-02
TrackID                    -2.617858e-03
FieldSize                  -2.349151e-13
EventTrackTypeID            7.174214e-13
EraID                       1.687663e-12
TeamDNFRate                 3.193332e-02
TDNFRate                    6.753540e-02
DriverID                    1.024562e-01
DNFRate                     1.683375e-01
DTAvg                       2.638985e-01
TTP                         3.109530e-01
TRP                         3.136064e-01
TeamRitmo                   3.370879e-01
DRFAvg                      3.609328e-01
DTTAvg                      3.662953e-01
DriverRitmo                 3.975282e-01
NormalizedPositionFinish    1.000000e+00
Name: NormalizedPositionFinish, dtype: float64

In [9]:
df = df.drop(columns=drop_cols)

In [10]:
print(df.columns.tolist())

['DriverID', 'Rookie', 'DRFAvg', 'DTAvg', 'DTTAvg', 'DNFRate', 'TDNFRate', 'DriverElo', 'DriverTElo', 'DriverRitmo', 'TeamID', 'TRP', 'TTP', 'TeamDNFRate', 'TeamElo', 'TeamTElo', 'TeamRitmo', 'TrackID', 'EventTrackTypeID', 'EraID', 'FieldSize', 'NormalizedPositionFinish']

In [11]:
exp = setup(
    data=data, 
    target="NormalizedPositionFinish", 
    session_id=123, 
    fold_strategy="timeseries",
    data_split_shuffle=False,
    fold_shuffle=False
)

In [16]:
compare_models()

ElasticNet(random_state=123)

In [17]:
gbr = create_model('gbr')

In [18]:
gbr_tune = tune_model(gbr)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [24]:
predict_model(gbr);

In [27]:
newpred1 = predict_model(gbr, data=data_unseen)

In [12]:
cat = create_model('catboost')

In [13]:
cat_tune = tune_model(cat)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [14]:
predict_model(cat);

In [15]:
newpred2 = predict_model(cat, data=data_unseen)

In [32]:
lgbm = create_model('lightgbm')

In [33]:
lgbm_tune = tune_model(lgbm)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [35]:
predict_model(lgbm);

In [36]:
newpred3 = predict_model(lgbm, data=data_unseen)

In [38]:
save_model(cat, "indycar_cat_model_v2")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['Rookie', 'DRFAvg', 'DTAvg',
                                              'DTTAvg', 'DNFRate', 'TDNFRate',
                                              'DriverElo', 'DriverTElo',
                                              'DriverRitmo', 'PositionStart',
                                              'TRP', 'TTP', 'TeamDNFRate',
                                              'TeamElo', 'TeamTElo', 'TeamRitmo',
                                              'FieldSize'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=[],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('trained_model',
                  <catboost.core.CatBoostRegressor object at 0x00000258AD660E50>)]),
 'indycar_cat_model_v2.pkl')