In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from pycaret.regression import *

In [2]:
df = pd.read_csv("C:\\Users\\ripa_\\Desktop\\Programing\\IndyCar_Project\\datasets\\IndyCar_dataset_v12.csv")

In [3]:
df["EventDate"] = pd.to_datetime(df["EventDate"])
df = df.sort_values("EventDate")

In [4]:
print(df[["DriverID", "NormalizedPositionFinish", "DRFAvg"]].groupby("DriverID").head(3).head(30))

    DriverID  NormalizedPositionFinish  DRFAvg
0       3608                      0.52     NaN
25      4401                      0.88     NaN
24      4021                      0.80     NaN
23      3675                      0.56     NaN
22      4276                      0.20     NaN
21      4236                      1.00     NaN
20      4215                      0.40     NaN
19      4144                      0.32     NaN
17      3682                      0.36     NaN
16      3668                      0.44     NaN
15      3636                      0.48     NaN
14      3628                      0.04     NaN
13      3625                      0.76     NaN
18      3811                      0.84     NaN
11      4216                      0.12     NaN
12      4407                      0.64     NaN
2       3620                      0.68     NaN
3       3622                      0.00     NaN
4       3645                      0.08     NaN
5       3648                      0.96     NaN
1       3616                      0.16     NaN
7       3672                      0.60     NaN
8       3680                      0.28     NaN
9       3736                      0.72     NaN
10      3813                      0.92     NaN
6       3667                      0.24     NaN
41      3636                      0.36    0.48
42      3668                      0.12    0.44
43      3682                      0.72    0.36
44      3811                      0.92    0.84

In [5]:
df.head()

,DriverName,DriverID,Rookie,DRFAvg,DTAvg,DTTAvg,DNFRate,TDNFRate,DriverElo,DriverTElo,...,EventDate,EventDateFormatted,EventID,Era,EraID,Status,StatusID,FieldSize,PositionFinish,NormalizedPositionFinish
0,Marco Andretti,3608,1,NaN,NaN,NaN,NaN,NaN,1500.0,1500.0,...,2012-03-25,"Sunday, March 25, 2012",2380,DW12 Era 2012-2017,0,Running,0,26,14,0.52
25,Katherine Legge,4401,1,NaN,NaN,NaN,NaN,NaN,1500.0,1500.0,...,2012-03-25,"Sunday, March 25, 2012",2380,DW12 Era 2012-2017,0,DNF,1,26,23,0.88
24,Sebastien Bourdais,4021,0,NaN,NaN,NaN,NaN,NaN,1500.0,1500.0,...,2012-03-25,"Sunday, March 25, 2012",2380,DW12 Era 2012-2017,0,DNF,1,26,21,0.80
23,Alex Tagliani,3675,0,NaN,NaN,NaN,NaN,NaN,1500.0,1500.0,...,2012-03-25,"Sunday, March 25, 2012",2380,DW12 Era 2012-2017,0,Running,0,26,15,0.56
22,Simon Pagenaud,4276,0,NaN,NaN,NaN,NaN,NaN,1500.0,1500.0,...,2012-03-25,"Sunday, March 25, 2012",2380,DW12 Era 2012-2017,0,Running,0,26,6,0.20

In [6]:
drop_cols = [
    "DriverName", "TeamName", "CarEngine","EventName", "Track", "EventTrackType",
    "EventDate", "EventDateFormatted", "EventID", "Era",
    "Status", "StatusID", "PositionFinish"
]

cutoff = df["EventDate"].quantile(0.95)
data = df[df["EventDate"] < cutoff].drop(columns=drop_cols)
data_unseen = df[df["EventDate"] >= cutoff].drop(columns=drop_cols)

print(data.corr(numeric_only=True)["NormalizedPositionFinish"].sort_values())

DriverElo                  -3.981294e-01
DriverTTElo                -3.678589e-01
TeamElo                    -3.296387e-01
TeamTElo                   -2.501114e-01
DriverTElo                 -2.471319e-01
TeamID                     -1.376309e-01
EngineTTElo                -7.560453e-02
EngineElo                  -6.551813e-02
EngineTElo                 -3.940775e-02
Rookie                     -2.423952e-02
TrackID                    -2.617858e-03
FieldSize                  -2.353585e-13
EventTrackTypeID            7.175254e-13
EraID                       1.686207e-12
EngineID                    2.618900e-02
TeamDNFRate                 3.193332e-02
TDNFRate                    6.753540e-02
DriverID                    1.024562e-01
DNFRate                     1.683375e-01
DTAvg                       2.638985e-01
TTP                         3.109530e-01
TRP                         3.136064e-01
TeamRitmo                   3.370879e-01
DRFAvg                      3.609328e-01
DTTAvg                      3.662953e-01
PositionStart               3.858168e-01
DriverRitmo                 3.975282e-01
NormalizedPositionFinish    1.000000e+00
Name: NormalizedPositionFinish, dtype: float64

In [ ]:
df = df.drop(columns=drop_cols)

In [9]:
print(df.columns.tolist())

['DriverID', 'Rookie', 'DRFAvg', 'DTAvg', 'DTTAvg', 'DNFRate', 'TDNFRate', 'DriverElo', 'DriverTElo', 'DriverTTElo', 'DriverRitmo', 'PositionStart', 'TeamID', 'TRP', 'TTP', 'TeamDNFRate', 'TeamElo', 'TeamTElo', 'TeamRitmo', 'EngineID', 'EngineElo', 'EngineTElo', 'EngineTTElo', 'TrackID', 'EventTrackTypeID', 'EraID', 'FieldSize', 'NormalizedPositionFinish']

In [10]:
exp = setup(
    data=data, 
    target="NormalizedPositionFinish", 
    session_id=123, 
    fold_strategy="timeseries",
    data_split_shuffle=False,
    fold_shuffle=False
)

In [10]:
compare_models()

BayesianRidge()

In [11]:
et = create_model('et')

In [12]:
et_tune = tune_model(et)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [13]:
predict_model(et_tune);

In [14]:
newpred1 = predict_model(et, data=data_unseen)

In [15]:
rf = create_model('rf')

In [16]:
rf_tune = tune_model(rf)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [17]:
predict_model(rf_tune);

In [18]:
newpred2 = predict_model(rf_tune, data=data_unseen)

In [19]:
gbr = create_model('gbr')

In [20]:
gbr_tune = tune_model(gbr)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [21]:
predict_model(gbr);

In [22]:
newpred3 = predict_model(gbr, data=data_unseen)

In [23]:
cat = create_model('catboost')

In [24]:
cat_tune = tune_model(cat)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [25]:
predict_model(cat_tune);

In [26]:
newpred5 = predict_model(cat_tune, data=data_unseen)

In [27]:
lgbm = create_model('lightgbm')

In [28]:
lgbm_tune = tune_model(lgbm)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [29]:
predict_model(lgbm_tune);

[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.7, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6

In [30]:
newpred5 = predict_model(lgbm_tune, data=data_unseen)

[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.7, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6

In [31]:
br = create_model('br')

In [32]:
br_tune = tune_model(br)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [34]:
predict_model(br_tune);

In [36]:
newpred9 = predict_model(br_tune, data=data_unseen)

In [43]:
blend1 = blend_models([rf_tune, lgbm_tune])

In [44]:
blend1_tune = tune_model(blend1)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [46]:
predict_model(blend1_tune);

[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.7, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6

In [48]:
newpred5 = predict_model(blend1_tune, data=data_unseen)

[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.7, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6

In [49]:
blend2 = blend_models([rf_tune, lgbm_tune, cat_tune])

In [50]:
blend2_tune = tune_model(blend2)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [52]:
predict_model(blend2_tune);

[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.7, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6

In [54]:
newpred6 = predict_model(blend2_tune, data=data_unseen)

[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.7, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6

In [38]:
blend3 = blend_models([rf_tune, lgbm_tune, gbr, cat_tune, et, br_tune])

In [39]:
blend3_tune = tune_model(blend3)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [41]:
predict_model(blend3);

[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.7, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6

In [43]:
newpred7 = predict_model(blend3, data=data_unseen)

[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.7, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6

In [44]:
blend4 = blend_models([cat_tune, lgbm_tune, br_tune])

In [46]:
blend4_tune = tune_model(blend4)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [48]:
predict_model(blend4_tune);

[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.7, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6

In [50]:
newpred8 = predict_model(blend4, data=data_unseen)

[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.7, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7
[LightGBM] [Warning] bagging_freq is set=6, subsample_freq=0 will be ignored. Current value: bagging_freq=6

In [51]:
blend5 = blend_models([br_tune, et, rf_tune])

In [52]:
blend5_tune = tune_model(blend5)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [54]:
predict_model(blend5_tune);

In [56]:
newpred10 = predict_model(blend5, data=data_unseen)

In [128]:
save_model(blend4, "indycar_cat_lgbm_prequaly_model_v1")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['DriverID', 'Rookie', 'DRFAvg',
                                              'DTAvg', 'DTTAvg', 'DNFRate',
                                              'TDNFRate', 'DriverElo',
                                              'DriverTElo', 'DriverTTElo',
                                              'DriverRitmo', 'TeamID', 'TRP',
                                              'TTP', 'TeamDNFRate', 'TeamElo',
                                              'TeamTElo', 'TeamRitmo',
                                              'EngineID', 'EngineElo',
                                              'EngineTElo', 'EngineTTElo',
                                              'TrackID', 'EventTr...
                  VotingRegressor(estimators=[('CatBoost Regressor',
                                               <catboost.core.CatBoostRegressor object at 0x000001539B872690>),
                                              ('Light Gradient Boosting Machine',
                                               LGBMRegressor(bagging_fraction=0.7,
                                                             bagging_freq=6,
                                                             feature_fraction=0.5,
                                                             min_child_samples=66,
                                                             min_split_gain=0.4,
                                                             n_estimators=90,
                                                             n_jobs=-1,
                                                             num_leaves=90,
                                                             random_state=123,
                                                             reg_alpha=0.0005,
                                                             reg_lambda=0.1))],
                                  n_jobs=-1))]),
 'indycar_cat_lgbm_prequaly_model_v1.pkl')